PORT=3000

DATABASE_URL=postgresql://postgres:TU_PASSWORD@localhost:5432/nestjs_oauth?schema=public

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect

JWT_SECRET=
JWT_EXPIRES_IN=1d